body{
    margin:0;
    padding: 0;
}

.navbar{
    background-color: black;
    padding: 29px 38px;
}

.navbar > span{
    color: white;
}

.main-body{
    margin: 53px 66px 28px 38px;
    /* border: 2px solid blue; */
}

h1{
    margin: 0;
    font-weight: 400;
}

.btn{
    background-color: black;
    border: none;
    padding: 12px 48px;
    color: white;
    margin: 93px 0px;
}

img{
    width: 729px;
    height: 912px;
    margin: 40px
}

ol, ul{
    padding-left: 20px;
}

